<div class="nosotros">
  <br>
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
      <h6>Acerca de Softlutions EC</h6>
      <br><br>
      <p>Provisión y entrega de servicios de tecnología de la información y comunicaciones, basados en software y hardware libre, alineados a metodologías y buenas prácticas nacionales e internacionales.</p>
      </div>
      <div class="col">
        <h6>¿Porque elegirnos?</h6>
        <br><br>
        <p>Somos una empresa especializada en Tecnologías de Información, donde no solo adoptamos estándares, tecnología, buenas prácticas, sino que además generamos tecnología, creamos estándares y buenas prácticas en desarrollo de software y seguridad.</p>
      </div>
      </div>
    </div>
  <br><br><br><br>
  <div class="container">
  <div class="contadores_principal">
      <div class="container-fluid">
        <div class="row align-items-start">
          <div class="col"><div class="contador"><h5 class="contador_cantidad" data-cantidad-total="274">0</h5> <p>Clientes</p></div></div>
          <div class="col"><div class="contador"><h5 class="contador_cantidad" data-cantidad-total="100">0</h5><p>Satisfacción</p></div></div>
          <div class="col"><div class="contador"><h5 class="contador_cantidad" data-cantidad-total="1364">0</h5><p>Visitas</p></div></div>
          <div class="col"><div class="contador"><h5 class="contador_cantidad" data-cantidad-total="274">0</h5><p>Proyectos</p></div></div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>
<div class="container" id="mision">
<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
      <img class="img1" src="https://softlutions.ec/assets/img/500.jpg" alt="">
    </div>
    <div class="col">
      <h1>MISIÓN</h1>
      <p>Misión. Somos una empresa dedicada a la comercialización y distribución de productos informáticos, desarrollo de aplicaciones informáticas de gestión, soluciones en Internet, servicio técnico y mantenimiento de equipos y sistemas informáticos, hosting, y consultoría de protección de datos</p>
    </div>
    </div>
  </div>
</div>
<br><br>
<div class="container">
<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
      <img class="img2" src="https://softlutions.ec/assets/img/700.png" alt="">
    </div>
    <div class="col">
      <h1>Visión</h1>
      <p>Pretendemos ser un referente en el mercado nacional en el sector de las TIC, y para ello abarcaremos todos los servicios que ofrecemos actualmente incrementando los que vayan surgiendo debido a la necesidad de cambio provocado por los avances tecnológicos. Esto es así ya que somos una empresa en constante innovación ya que el sector de la tecnología así lo requiere.</p>
      <h1>Nuestros Valores</h1>
      <li>Compromiso con nuestros clientes</li>
      <li>Honestidad en todo momento</li>
      <li>Lealtad en todos nuestros principios</li>
      <li>Humildad en todas nuestras acciones</li>
    </div>
    </div>
  </div>
</div>
