
<div class="contenedor">
  <img src="https://th.bing.com/th/id/R.3ca5eac7bbf7d957150a4dd9c2350810?rik=6mBgzRcI84YPFg&pid=ImgRaw&r=0" alt="">
  <h4  class="animate__animated animate__pulse animate__infinite">SOFTLUTIONS EC</h4>
  <div id="line"></div>
  <img class="img2" id="animado" src="https://softlutions.ec/assets/img/303.png" alt="">
</div>
<br><br><br>
<h1>SOBRE NOSOTROS</h1>
<div class="line1" ></div>
<br><br><br><br>
<div class="container" id="animado2">
<div class="container-fluid">
<div class="row align-items-start">

<div class="col">
  <button id="botton"><i class="material-icons">gps_fixed</i></button>
  <h2>Misión</h2>
<p class="subtitulos"><br>
  Proporcionar las tecnologías más innovadoras a medida de las necesidades empresariales, con el objetivo de incrementar su competitividad y productividad. Para ello implementamos soluciones prácticas adaptadas a sus necesidades y desarrollamos nuevas soluciones creativas. Nuestra base parte del aprovechamiento de las nuevas redes.</p>
  <a href="#/nosotros"><button type="button" class="btn btn-danger"  id="leer">Leer Más</button></a>
  <br><br>
  <button id="botton1"><i class="material-icons">thumbs_up_down</i></button>
  <h2>Visión</h2>
<p class="subtitulos"> <br>
  Queremos estar comprometidos con los problemas de nuestros clientes de forma transparente y eficaz para convertirnos en su socio de confianza. En nuestra visión queremos ser una empresa de referencia, que camina con el cambio de la tecnología y la sociedad, dando a conocer las posibilidades de los estándares y tecnologías libres. Esta labor se debe desempeñar de forma ética y satisfactoria para nosotros, nuestros clientes y el resto de la sociedad.</p>
  <a href="#/nosotros"><button type="button" class="btn btn-danger"  id="leer"> Leer Más</button></a>
</div>
<div class="col" id="servicio">
</div>
</div>
</div>
</div>
<br><br><br><br>
<div class="container">
<p class="subt-1"><b> SERVICIOS</b></p>
<div class="line2"></div>
<br><br>
<p class="text-center">Conoce nuestros servicios y experiencias digitales únicos durante los últimos años.</p>
</div>
<div class="container" id="animado1">
  <ul class="slider">
    <li id="slide1">
      <div class="container-fluid">
        <div class="row align-items-start">
          <div class="col">
            <h3>IMPEMENTACIÓN</h3>
            <p>SERVICIOS DE GESTIÓN Y MANEJO IN SITU DE SISTEMAS INFORMÁTICOS Y/O INSTALACIONES DE PROCESAMIENTO DE DATOS DE LOS CLIENTES, Y SERVICIOS DE APOYO CONEXOS</p>
          </div>
          <div class="col">
            <img  src="https://softlutions.ec/assets/img/1687.jpg" alt="">
          </div>
        </div>
      </div>
    </li>
    <li id="slide2">
      <div class="container-fluid">
        <div class="row align-items-start">
          <div class="col">
            <h3>Sistemas de Gestión</h3>
            <p>Empresarial - ERP
              Las aplicaciones ERP son sistemas de gestión global para la empresa. Se caracterizan por estar compuestos por diferentes módulos.</p>
          </div>
          <div class="col">
            <img src="https://softlutions.ec/assets/img/800.png" alt="">
          </div>
        </div>
      </div>
    </li>
    <li id="slide3">
      <div class="container-fluid">
        <div class="row align-items-start">
          <div class="col">
            <h3>Consultoría</h3>
            <p>Basándonos en el hecho de que cualquier decisión influye en el éxito, eficacia o rentabilidad de una idea o proyecto le ofrecemos nuestra experiencia y profesionalidad para aportarle soluciones concretas a sus necesidades.</p>
          </div>
          <div class="col">
            <img src="https://softlutions.ec/assets/img/900.png" alt="">
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="menu">
    <li><a href="#slide1">1</a></li>
    <li><a href="#slide2">2</a></li>
    <li><a href="#slide3">3</a></li>
  </ul>
</div>
<br><br><br>
<div class="nosotros">
  <br>
  <h6>¿PORQUÉ ELEGIRNOS?</h6>
  <br>
  <div class="container-p">
    <p>Porque somos especialistas en desarrollo de software que ayudará a tu empresa a alcanzar los objetivos de negocio. Ya sea através de uno de los sistemas previamente desarrollados y que podrás encontrar en la sección de productos o, contratándonos para crear el software que tu empresa requiere, tomando en cuenta tus necesidades y aplicando las mejores prácticas de la industria en la que te desenvuelves.</p>
  </div>

  <br><br><br><br><br><br><br><br><br>
  <div class="contadores_principal">
  <div class="container">
    <div class="container-fluid">
      <div class="row align-items-start">
        <div class="col"><div class="contador ocultar"><h5 class="contador_cantidad" data-cantidad-total="274">0</h5> <p>Clientes</p></div></div>
        <div class="col"><div class="contador ocultar"><h5 class="contador_cantidad" data-cantidad-total="100">0</h5><p>Satisfacción</p></div></div>
        <div class="col"><div class="contador ocultar"><h5 class="contador_cantidad" data-cantidad-total="1364">0</h5><p>Visitas</p></div></div>
        <div class="col"><div class="contador ocultar"><h5 class="contador_cantidad" data-cantidad-total="274">0</h5><p>Proyectos</p></div></div>
      </div>
    </div>
  </div>
</div>
</div>
