

h1{
  color: #f45710;
  font-size: 35px;
}

#footer{
  color: white;
  background-color: #c84012;
}

#footer_2{
  color: white;
  background-color:	#000000;
  height: 75px;
  align-self: center;
}

#line{
  position: absolute;
  left: 635px;
  width: 70px;
  height: 2px;
  background-color: #f70f26;
}

#button{
  position: absolute;
  left: 950px;
  border-radius: 15px;
}

i{
  color: red ;
  top: 209px;
}

#name h4{
  color: white;
  font-size: 45px;
  position: absolute;
  left: 100px;
}

a{
 color: white;
}


