<br>
  <h1 class="text-center " >CONTACTO</h1>
  <div id="line"></div>
  <br><br>
<div class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7979.590865646823!2d-78.498094!3d-0.194071!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a429cf1340f%3A0x168f845afb69349!2sDiego%20M%C3%A9ndez%2C%20Quito%20170129!5e0!3m2!1ses!2sec!4v1633201617818!5m2!1ses!2sec" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
      <div class="col">
        <table class="table table-borderless">
          <thead>
            <tr>
            <th><i class="material-icons">location_on</i></th>
            <th colspan="3"><p>Sangolqui</p></th>
            <th><i class="material-icons">mail_outline</i></th>
            <th colspan="3" ><p>info@softlutionsec.com </p></th>
            <th><i class="material-icons">local_phone</i></th>
            <th colspan="3" ><p>/ 098-457-1859 / </p></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td colspan="6"><div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control" id="input1" placeholder="Tu nombre*" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div></td>
              <td colspan="4"><div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control"id="input2"  placeholder="Tu email*" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
              </div></td>
            </tr>
            <tr>
              <td colspan="12">
                <div class="input-group input-group-sm mb-3">
                  <input type="text" class="form-control"id="input3"  placeholder="Asunto*" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
              </td>
            </tr>
            <tr >
              <td colspan="12">
                <div class="form-floating">
                  <textarea class="form-control"  placeholder="Comentario" id="floatingTextarea2" style="height: 125px"></textarea>
                  <label for="floatingTextarea2"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td > <button type="button" class="btn btn-outline-danger" id="button" onclick="mensaje()" >Enviar Mensaje</button></td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
