<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#/home1">
      <img src="https://softlutions.ec/assets/img/logoSf.png"   alt="" width="150" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="nav justify-content-end ">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" [routerLink]="['home1']" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['demos']">Demos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" >Sobre Nosotros</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled text-center" href="#">Acerca de Softlutions</a></li>

            <li><a class="dropdown-item text-center" [routerLink]="['nosotros']">Quienes somos?</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-center" href="#mision" [routerLink]="['nosotros']">Misión,Visión y Valores</a></li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['messages']">Contáctanos</a>
        </li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<div class="" id="footer">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col" id="name">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <h4  class="animate__animated animate__pulse animate__infinite">Softlutions EC</h4>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>ACERCA DE:</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#/home1" class="nav-link p-0" id="links">Inicio</a></li>
        <li class="nav-item mb-2"><a href="#/demos" class="nav-link p-0 " id="links">Demos</a></li>
        <li class="nav-item mb-2"><a href="#/nosotros" class="nav-link p-0 " id="links">Sobre Nosotros</a></li>
        <li class="nav-item mb-2"><a href="#/messages" class="nav-link p-0 " id="links">Contactos</a></li>
      </ul>
    </div>
    <div class="col">
      <h5>Contacto</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><p>Teléfono: (+593) 0984571859</p> </li>
        <li class="nav-item mb-2"><p>Email: info@softlutionsec.com</p></li>
      </ul>
    </div>
    <div class="col">
      <h5>Redes Sociales</h5>
      <ul class="nav flex-column">
        <div class="social-media">
        <li class="nav-item mb-2">
          <a href="https://www.facebook.com/" class="social-media-icon"><i class="bx bxl-facebook-circle"></i></a>

          <a href="https://www.facebook.com/" class="social-media-icon"><i class="bx bxl-whatsapp"></i></a>
</li>
      </div>
      </ul>
    </div>
  </footer>
  <div id="footer_2">
    <p class="text-center">&copy; Copyright Soflutions. Todos los derechos</p>
  </div>
</div>
